style.css

body {
background-color: white;
}


h1 {
font-family: Verdana, serif;
font-weight: normal
color: navy blue;
text-decoration: underline;
}


h2 {
font-family: Verdana, serif;
font-weight: normal
color: navy blue;
text-decoration: underline;
}


p {
font-family: Verdana, serif;
font-weight: normal
color: navy blue;
}


img{
{border-style: double;}

}






